body {
  font-family: "Arial";
}


.header {
  background-color: #ceccf3;
  height: 90px;
}

.main {
  background-color: #9de8ea;
  height: 270px;
}

.footer {
  background-color: #f7f2b4;
  height: 300px;
